<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
  <main>
    <h1>YOU CAN CHECKOUT ANYTIME YOU LIKE BUT U CAN NEVER LEAVE</h1>
  </main>
  <%- include('../includes/end.ejs') %>
